@import "tailwindcss";

@theme {
  --color-neon-cyan: #00f0ff;
  --color-deep-black: #050505;
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 40s linear infinite;
  }

  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  }

  .mesh-gradient {
    background: radial-gradient(at 0% 0%, rgba(0, 240, 255, 0.15) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(168, 85, 247, 0.15) 0px, transparent 50%),
      radial-gradient(at 100% 100%, rgba(0, 240, 255, 0.15) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgba(168, 85, 247, 0.15) 0px, transparent 50%);
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  background-color: var(--color-deep-black);
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom Selection */
::selection {
  background: rgba(0, 240, 255, 0.3);
  color: white;
}